/* Start variables */
:root {
    --main-color: #19c8fa;
}
/* End variables */

/* Start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    /* background-color: #222; */
    background-color: #fff;
    background-image: url(../images/back.jpg);
    background-position: top;
    /* background-size: 100%; */
    background-repeat: no-repeat;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: auto;
    padding-left: auto;
}
.special-heading h2 {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    position: relative;
}
.special-heading h2::before {
    content: '';
    width: 90px;
    height: 1.5px;
    background-color: #353235;
    position: absolute;
    top: 135px;
    left: calc(50% - 45px);
}
.special-heading h2::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 2px solid #353235;
    border-radius: 50%;
    position: absolute;
    top: 129.5px;
    left: calc(50% - 5px);
}
.special-heading p:not(.box p) {
    color: #777;
    text-align: center;
    width: 400px;
    margin: 10px auto;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.8;
}
@media (max-width: 480px) {
    .container {
        width: 300px;
    }
    body {
        background-image: url(../images/back-1-5.jpg);
        /* background-position: center; */
        background-position: top;
    }
    .special-heading h2 {
        font-size: 25px;
    }
    .special-heading h2::before {
        width: 80px;
        top: 125px;
        left: calc(50% - 40px);
    }
    .special-heading h2::after {
        top: 119.5px;
    }
    .special-heading p:not(.box p) {
        width: 300px;
        margin: 0px auto;
        font-size: 12px;
        line-height: 1.6;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .container {
        width: 450px;
    }
    body {
        background-image: url(../images/back-1-5.jpg);
        /* background-position: center; */
        background-position: top;

    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        width: 750px;
    }
    body {
        background-image: url(../images/back-1-5.jpg);
        /* background-position: center; */
        background-position: top;

    }
}
@media (min-width: 1025px) and (max-width: 1280px) {
    body {
        background-image: url(../images/back-1-4.jpg);
        /* background-position: center; */
        background-position: top;

    }
    .container {
        width: 1000px;
    }
}
@media (min-width: 1281px) {
    .container {
        width: 1200px;
    }
}
/* End general rules */

/* Start header */
.header {
    color: #fff;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 80px
}
.header .container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #777;
    bottom: 0px;
}
.header .logo {
    width: 120px;
    cursor: pointer;
    margin-left: 10px;
}
.header .logo img {
    max-width: 100%;
}
.header .header-items {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}
.header .header-items .links {
    height: 80px;
    border-bottom: 2px solid #777;
}
.header .header-items .links-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 7px;
    height: 80px;
    padding-right: 10px;
    padding-left: 10px;
}
.header .header-items .links:hover {
    border-bottom: 2px solid var(--main-color);
}
.header .header-items span {
    width: 30px;
    height: 3px;
    background-color: #ddd;
    display: block;
}
.header .header-items .links:hover span {
    background-color: var(--main-color);
    transition: 0.3s;
}
.header ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    z-index: 4;
}
.header ul li {
    display: flex;
    align-items: center;
    height: 80px;
    width: fit-content;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    position: relative;
    border-bottom: 2px solid #777;
}
.header ul li:hover {
    transition: 0.3s;
    border-bottom: 2px solid var(--main-color);
    cursor: pointer;
}
.header ul li:hover a {
    color: var(--main-color);
    transition: 0.3s;
}
.header ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.search {
    position: absolute;
}
.header .search-icon {
    height: 80px;
    display: flex;
    align-items: center;;
    padding: 0px 20px;
    font-size: 20px;
    position: absolute;
    right: 0px;
    border-bottom: 2px solid #777;
    cursor: pointer;
}
.header .search-icon::before {
    content: '';
    width: 1px;
    height: 35px;
    background-color: #ddd;
    position: absolute;
    right: 120%;
    top: calc(50% - (35px / 2));
}
.header .search-icon:hover {
    color: var(--main-color);
    transition: 0.3s;
    border-bottom: 2px solid var(--main-color);
}
.header .search-box {
    display: flex;
    width: 1200px;
    height: 65px;
    position: absolute;
    bottom: -80px;
    right: 0px;
    display: none;
    border-radius: 40px;
}
.header .search-box input {
    background-color: #fff;
    border: none;
    padding: 0px 30px;
    font-size: 21px;
    color: #333;
    outline: none;
    width: calc(100% - 80px);
    height: 65px;
    border-radius: 0px 40px 40px 0px;

}
.header .search-box::before {
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    top: -50px;
    right: 0px;
}
.header .search-box i {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 90px;
    margin: 0px;
    font-size: 20px;
    color: var(--main-color);
    border-right: 2px solid #ddd;
    cursor: pointer;
    border-radius: 40px 0px 0px 40px;
}
.header .search-icon:hover .search-box {
    display: flex;
    transition: 0.3s;
}
.header .search-box i:hover {
    background-color: #333;
}
@media (max-width: 480px) {
    .header .container {
        width: 100%;
        height: 70px;
    }
    .header ul {
        gap: 0px;
    }
    .header ul li a {
        font-size: 12px;
    }
    .header .logo {
        width: 90px;
    }
    .header .header-items {
        width: 90px;
        justify-content: space-between;
    }
    .header .header-items .links {
        height: 70px;
        position: relative;
    }
    .header .header-items .links-icon {
        height: 70px;
        padding: 0px;
        gap: 5px;
    }
    .header ul {
        display: none;
        flex-direction: column;
        position: absolute;
        right: -35px;
        top: 70px;
        width: 300px;
        background-color: #111;
    }
    .header ul li {
        width: 300px;
        height: 55px;
        text-align:start;
        padding: 15px;
        padding-right: 0px;
        padding-left: 20px;
    }
    .header .links:hover ul {
        display: flex;
    }
    .header .links ul::before {
        content: '';
        width: 60px;
        height: 50px;
        position: absolute;
        bottom: 100%;
        right: 95px;
    }
    .header .search-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .header .search-icon::before {
        display: none;
    }
    .header .search-box {
        width: 300px;
        height: 55px;
        bottom: -70px;
        right: 0px;
    }
    .header .search-box::before {
        width: 40px;
        right: 0px;
        top: -20px;
    }
    .header .search-box input {
        font-size: 16px;
        height: 55px;
        width: calc(100% - 55px);
        padding: 0px 10px;
    }
    .header .search-box i {
        font-size: 16px;
        height: 55px;
        width: 55px;
    }
}
@media (min-width: 481px) and (max-width: 769px) {
    .header .container {
        width: 100%;
    }
    .header .logo {
        width: 120px;
    }

    .header .header-items {
        width: 120px;
        justify-content: space-between;
    }
    .header .links {
        position: relative;
    }
    .header ul {
        gap: 0px;
        display: none;
        flex-direction: column;
        position: absolute;
        right: -25px;
        top: 80px;
        width: 400px;
        background-color: #111;
    }
    .header ul li {
        width: 400px;
        height: 65px;
        text-align:start;
        padding: 20px;
        padding-right: 0px;
        padding-left: 20px;
    }
    .header .links:hover ul {
        display: flex;
    }
    .header .links ul::before {
        content: '';
        width: 60px;
        height: 50px;
        position: absolute;
        bottom: 100%;
        right: 95px;
    }
    .header .search-icon::before {
        right: 100%;
        top: calc(50% - (35px / 2));
    }
    .header .search-box {
        width: 450px;
        bottom: -75px;
    }
    .header .search-box input {
        font-size: 18px;
        width: calc(100% - 60px)
    }
    .header .search-box i {
        font-size: 18px;
        width: 60px;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .header .container {
        width: 90%;
    }
    .header ul {
        gap: 0px;
    }
    .header .header-items {
        width: 140px;
        justify-content: space-between;
    }
    .header .links {
        position: relative;
    }
    .header ul {
        display: none;
        flex-direction: column;
        position: absolute;
        right: -20px;
        top: 80px;
        width: 500px;
        background-color: #111;
        z-index: 3;
    }
    .header ul li {
        width: 500px;
        height: 75px;
        text-align:start;
        padding: 25px;
        padding-right: 0px;
        padding-left: 25px;
    }
    .header .links:hover ul {
        display: flex;
    }
    .header .links ul::before {
        content: '';
        width: 60px;
        height: 50px;
        position: absolute;
        bottom: 100%;
        right: 95px;
    }
    .header .search-box {
        width: 500px;
        right: 0px;
    }
}
@media (min-width: 1025px) and (max-width: 1280px) {
    .header .header-items {
        width: 70%;
    }
    .header .header-items .links-icon {
        display: none;
    }
    .header .search-box {
        width: 1000px
    }
}
@media (min-width: 1281px) {
    .header .header-items .links-icon {
        display: none;
    }
}
/* End header */

/* Start sub-header */
.sub-header {
    color: #fff;
}
.sub-header .container {
    margin-top: 150px;
    margin-bottom: 120px;
    position: relative;
    background-color: transparent;
}
.sub-header .container .left-arrow {
    width: 60px;
    height: 300px;
    position: absolute;
    right: calc(100% - 60px);
    top: calc(50% - 231px);
    z-index: 3;
}
.sub-header .container .left-arrow::before {
    content: '';
    width: 15px;
    height: 15px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    position: absolute;
    top: calc(50% - 7.5px);
    left: calc(50% - 5px);
    transform: rotate(45deg);
}
.sub-header .container .left-arrow:hover {
    background-color: #628e9a;
    transition: 0.3s;
}
.sub-header .container .right-arrow {
    width: 60px;
    height: 300px;
    position: absolute;
    left: calc(100% - 60px);
    top: calc(50% - 231px);
    z-index: 3;
}
.sub-header .container .right-arrow::before {
    content: '';
    width: 15px;
    height: 15px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    position: absolute;
    top: calc(50% - 7.5px);
    right: calc(50% - 5px);
    transform: rotate(225deg);
}
.sub-header .container .right-arrow:hover {
    background-color: #555;
    transition: 0.3s;
}
.sub-header .container .text-box {
    width: 60%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 40px;
    text-align: end;
    position: relative;
}
.sub-header .container .text-box::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: 0.55;
    position: absolute;
    z-index: -1;
}
.sub-header .container .text-box h2 {
    width: 65%;
    text-align: start;
    font-weight: 400;
    margin: 8px 0px;
}
.sub-header .container .text-box p {
    width: 65%;
    padding-right: 60px;
    text-align: start;
    font-size: 15px;
    line-height: 25px;
}
.sub-header .container .identifier {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 150px 0px;
    margin-bottom: -80px;
    width: 100%;
}
.sub-header .identifier span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #ccc;
}
.sub-header .identifier span:nth-child(2) {
    background-color: var(--main-color);
}
@media (max-width: 481px) {
    .sub-header .container {
        width: 100%;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .sub-header .container .text-box {
        width: 100%;
        display: flex;
        padding-left: 5%;
        padding-right: 5%;
    }
    .sub-header .container .text-box h2 {
        width: 90%;
        font-size: 18px;
    }
    .sub-header .container .text-box p {
        width: 90%;
        font-size: 12px;
        line-height: 20px;
    }
    .sub-header .container .text-box::before {
        width: 100%;
        right: 0px;
    }
    .sub-header .container .left-arrow {
        width: 40px;
        right: calc(100% - 40px); 
        top: calc(50% - 181px); 
    }
    .sub-header .container .left-arrow::before {
        width: 10px;
        height: 10px;
    }
    .sub-header .container .right-arrow {
        width: 40px;
        left:  calc(100% - 40px);
        top: calc(50% - 181px); 
    }
    .sub-header .container .right-arrow::before {
        width: 10px;
        height: 10px;
    }
    .sub-header .container .right-arrow:hover {
        background-color: #628e9a;
    }
    .sub-header .container .identifier {
        margin-top: 50px;
    }
}
@media (min-width: 481px) and (max-width: 769px) {
    .sub-header .container {
        width: 100%;
        margin-bottom: 100px;
    }
    .sub-header .container .text-box {
        width: 100%;
        display: flex;
        padding-left: 5%;
        padding-right: 5%;
    }
    .sub-header .container .text-box h2 {
        width: 90%;
        font-size: 19px;
    }
    .sub-header .container .text-box p {
        width: 90%;
        font-size: 13px;
    }
    .sub-header .container .text-box::before {
        width: 100%;
        right: 0px;
    }
    .sub-header .container .left-arrow {
        width: 50px;
        right: calc(100% - 50px); 
        top: calc(50% - 196px);    
    }
    .sub-header .container .right-arrow {
        width: 50px;
        left:  calc(100% - 50px);
        top: calc(50% - 196px); 
    }
    .sub-header .container .right-arrow:hover {
        background-color: #628e9a;
    }
    .sub-header .container .identifier {
        margin-top: 80px;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .sub-header .container {
        width: 100%;
    }
    .sub-header .container .text-box {
        width: 80%;
    }
    .sub-header .container .text-box h2 {
        font-size: 20px;
    }
    .sub-header .container .left-arrow {
        width: 50px;
        right: calc(100% - 50px);  
    }
    .sub-header .container .right-arrow {
        width: 50px;
        left:  calc(100% - 50px);
    }
}
@media (min-width: 1025px) and (max-width: 1280px) {
    .sub-header .container {
        width: 100%;
    }
    .sub-header .container .text-box {
        width: 70%;
    }
    .sub-header .container .text-box p {
        width: 65%;
        padding-right: 10%;
    }
    .sub-header .container .left-arrow {
        width: 55px;
        right: calc(100% - 55px);    
    }
    .sub-header .container .right-arrow {
        width: 55px;
        left:  calc(100% - 55px);
    }
}
@media (min-width: 1281px) {
    .sub-header .container {
        width: 100%;
    }
}
/* End sub-header */

/* Start services */
.services {
    background-color: #fff;
    color: #353235;
}

.services .container .box-container {
    padding: 100px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* gap: 100px; */
    row-gap: 70px;
}
.services .container .box {
    /* width: calc(50% - 150px); */
    width: 500px;
    display: flex;
    justify-content: space-between;
    /* gap: 40px; */
}
.services .container .box i {
    font-size: 30px;
    padding: 5px 50px;
}
.services .container .box h3 {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-weight: 400;
    color: var(--main-color);
}
.services .container .box p {
    color: #777;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.8;
}
.services .second-container {
    background-image: url(../images/back-3-2.jpg);
    background-repeat: no-repeat;
    background-position: top;
    /* padding: 100px 0px; */
    height: 500px;
    position: relative;
}
.services .second-container .text-box {
    float: right;
    color: #fff;
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: end;
    position: relative;
    z-index: 1;
    margin-top: 100px;
}
.services .second-container .text-box::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: 0.55;
    position: absolute;
    z-index: -1;
}
.services .second-container .text-box h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 0px;
    padding: 10px 50px;
    padding-bottom: 30px;
    /* width: 65%; */
    /* text-align: start; */
    /* font-weight: 400; */
    /* margin: 8px 0px; */
}
.services .second-container .text-box .box {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 50px;
}
.services .second-container .text-box .box p {
    margin: 0px;
    padding: 0px;
    /* width: 65%; */
    /* padding-right: 60px; */
    /* text-align: start; */
    /* font-size: 15px; */
    /* line-hei
    ght: 25px; */
}
.services .second-container img {
    width: 350px;
    height:400px;
    position: absolute;
    top:100px;
    right: 57%;
    /* z-index: -1; */
    object-fit:cover;
    object-position: 0% 0%;
}

@media (max-width: 480px) {
    /* .services .container h2 {
        font-size: 25px;
    }
    .services .container h2::before {
        width: 80px;
        top: 125px;
        left: calc(50% - 40px);
    }
    .services .container h2::after {
        top: 119.5px;
    }
    .services .container p:not(.box p) {
        width: 300px;
        margin: 0px auto;
        font-size: 12px;
        line-height: 1.6;
    } */
    .services .container .box-container {
        padding: 80px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        /* gap: 100px; */
        row-gap: 70px;
    }
    .services .container .box {
        width: 320px;
    }
    .services .container .box i {
        padding: 5px 30px;
        padding-left: 0px;
    }
    .services .container .box h3 {
        font-size: 18px;
    }
    .services .container .box p {
        font-size: 12px;
        line-height: 1.6;
    }
    .services .second-container {
        height: 500px;
    }
    .services .second-container .text-box {
        width: 100%;
        height: 250px;
        margin-top: 25px;
        /* transform: scaleX(-1); */
    }
    .services .second-container .text-box h2 {
        font-size: 16px;
        padding: 10px 40px;
    }
    .services .second-container .text-box .box {
        padding: 10px 40px;

    }
    .services .second-container .text-box .box i {
        font-size: 15px;
    }
    .services .second-container .text-box .box p {
        font-size: 13px;
    }
    .services .second-container img {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 300px;
        right: calc(50% - 100px);
        object-fit:cover;
        object-position: 0% 0%;
        /* transform: scaleX(-1); */
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .services .container .box {
        width: 450px;
    }
    .services .container .box i {
        padding-left: 20px;
    }
    .services .second-container {
        height: 600px;
        /* transform: scaleX(-1); */
    }
    .services .second-container .text-box {
        width: 100%;
        height: 250px;
        margin-top: 25px;
        /* transform: scaleX(-1); */
    }
    .services .second-container img {
        width: 300px;
        height: 300px;
        position: absolute;
        top: 300px;
        right: calc(50% - 150px);
        object-fit:cover;
        object-position: 0% 0%;
        /* transform: scaleX(-1); */
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .services .container .box-container {
        row-gap: 90px;
    }
    .services .container .box {
        width: 650px;
    }
    .services .container .box i {
        font-size: 40px;
        padding: 10px 80px;
    }
    .services .container .box h3 {
        font-size: 25px;
    }
    .services .container .box p {
        font-size: 15px;
    }
    .services .second-container {
        height: 400px;
    }
    .services .second-container .text-box {
        height: 250px;
        margin-top: 75px;
    }
    .services .second-container img {
        width: 300px;
        height: 300px;
        position: absolute;
        top: 100px;
        right: 57%;
        object-fit:cover;
        object-position: 0% 0%;
    }
}
@media (min-width: 1025px) and (max-width: 1280px) {
    .services .container .box {
        width: 450px;
    }
}
@media (min-width: 1281px) {

}
/* End services */

/* Start portfolio */
.portfolio {
    margin-top: -25px;
    background-color: #fff;
    color: #353235;
}
.portfolio .container {
    /* width: 100%; */
}
.portfolio .tabs {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 80px;
    margin-bottom: 40px;
}
.portfolio .tabs .tab {
    padding: 7px 15px;
    border-radius: 20px;
    cursor: pointer;
}
.portfolio .tabs .tab:first-child {
    background-color: var(--main-color);
    /* padding: 7px 15px; */
    color: #fff;
}
.portfolio .gallery {
    /* width: 100%; */
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    grid-gap: 5px;
    padding-bottom: 50px;
}
.portfolio .gallery div {
    overflow: hidden;
    max-height: 248px;
    cursor: pointer;
    position: relative;
}
.portfolio .gallery div:not(.more, .text)::before {
    content: 'Awesome Image';
    font-size: 16px;
    padding-top: 15px;
    padding-left: 25px;
    background-color: #fff;
    width: 100%;
    height: 25%;
    position: absolute;
    top: 100%; 
    transition: 0.5s;
    z-index: 1;
}
.portfolio .gallery div:hover:not(.more, .text)::before {
    top: 70%;
    transition: 0.5s;
}
.portfolio .gallery div:not(.more, .text)::after {
    content: 'PHOTOGRAPHY';
    font-size: 13px;
    padding-top: 40px;
    padding-left: 25px;
    color: var(--main-color);
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0px;
    transition: 0.5s;
    z-index: 2;
}
.portfolio .gallery div:hover:not(.more, .text)::after {
    top: 70%;
    transition: 0.5s;
}
.portfolio .gallery div img {
    max-width: 100%;
    transform: scale(1);
    transition: 0.5s;
}
.portfolio .gallery div:hover img {
    transform: scale(1.2);
    transition: 0.5s;
}
.portfolio .gallery .more {
    max-height: 248px;
    color: #fff;
    font-size: 35px;
    overflow: hidden;
}
.portfolio .gallery .more::before {
    content: 'For more projects';
    font-size: 16px;
    padding-top: 15px;
    padding-left: 25px;
    background-color: #fff;
    color: var(--main-color);
    width: 100%;
    height: 25%;
    position: absolute;
    top: 100%; 
    transition: 0.5s;
    z-index: 1;
}
.portfolio .gallery .more:hover::before {
    top: 70%;
    transition: 0.5s;
}
.portfolio .gallery .more .text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-image: linear-gradient(to right , #dda2b4 , #bbadd1 , #19c8fa, #b5edf0);
    overflow: hidden;
    transform: scale(1);
    transition: 0.5s;
}
.portfolio .gallery .more:hover .text {
    transform: scale(1.1);
    transition: 0.5s;
}
/* .portfolio .more-button {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}
.portfolio .more-button span {
    background-color: var(--main-color);
    color: #fff;
    padding: 10px 25px;
}
.portfolio .more-button span:hover {
    cursor: pointer;
    background-color: #57d8fc;
} */
.portfolio .second-container {
    margin-top: 50px;
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
}
.portfolio .second-container video {
    max-width: 100%;
    /* height: 150%; */
    /* object-fit: cover; */
    /* object-position: 0px 0px; */
    position: absolute;
    top: 0px;
}
.portfolio .second-container .text-box {
    /* float: right; */
    color: #fff;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* text-align: end; */
    z-index: 2;
    /* margin-top: 100px; */
    position: absolute;
    top: calc(50% - 125px);
}
.portfolio .second-container .text-box::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: 0.55;
    position: absolute;
    /* top: 0px; */
    /* right: 0px; */
    z-index: -1;
}
.portfolio .second-container .text-box h2 {
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}
.portfolio .second-container .text-box .button {
    background-color: #222;
    padding: 10px 30px;
    cursor: pointer;
}
.portfolio .second-container .text-box .button:hover {
    background-color: #111;
}
@media (max-width: 480px) {
    .portfolio .tabs {
        gap: 5px;
    }
    .portfolio .tabs .tab {
        font-size: 12px;
        padding: 7px 8px;
    }
    .portfolio .gallery {
        grid-template-columns: repeat(auto-fill , minmax(280px , 1fr));
    }
    .portfolio .gallery .photo-8,
    .portfolio .gallery .photo-7,
    .portfolio .gallery .photo-4,
    .portfolio .gallery .photo-1
     {
        display: none;
    }
    .portfolio .gallery div {
        max-height: 185px;
    }
    .portfolio .gallery div:not(.more, .text)::before {
        font-size: 14px;
        padding-top: 5px;
        padding-left: 15px;
    }
    .portfolio .gallery div:hover:not(.more, .text)::before {
        top: 75%;
    }
    .portfolio .gallery div:not(.more, .text)::after {
        font-size: 12px;
        padding-top: 25px;
        padding-left: 15px;
    }
    .portfolio .gallery div:hover:not(.more, .text)::after {
        top: 75%;
    }
    .portfolio .gallery .more {
        font-size: 25px;
        height: 185px;
    }
    .portfolio .gallery .more::before {
        font-size: 14px;
        padding-top: 5px;
        padding-left: 15px;
    }
    .portfolio .gallery .more:hover::before {
        top: 75%;
    }
    .portfolio .second-container {
        margin-top: 0px;
        height: 350px;
        justify-content: flex-start;
    }
    .portfolio .second-container .text-box {
        height: 160px;
        gap: 10px;
        top: calc(50% - 80px);
    }
    .portfolio .second-container .text-box h2 {
        font-size: 16px;
    }
    .portfolio .second-container .text-box p {
        font-size: 12px;
    }
    .portfolio .second-container .text-box .button {
        background-color: #222;
        padding: 8px 15px;
        cursor: pointer;
        font-size: 13px;
    }
    .portfolio .second-container video {
        max-width: 250%; 
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .portfolio .tabs {
        gap: 5px;
    }
    .portfolio .gallery {
        grid-template-columns: repeat(auto-fill , minmax(220px , 1fr));
    }
    .portfolio .gallery .photo-7 {
        display: none;
    }
    .portfolio .gallery div {
        height: 140px;
        max-height: 135px;
    }
    .portfolio .gallery div:not(.more, .text)::before {
        font-size: 12px;
        padding-top: 5px;
        padding-left: 10px;
    }
    .portfolio .gallery div:hover:not(.more, .text)::before {
        top: 75%;
    }
    .portfolio .gallery div:not(.more, .text)::after {
        font-size: 10px;
        padding-top: 20px;
        padding-left: 10px;
    }
    .portfolio .gallery div:hover:not(.more, .text)::after {
        top: 75%;
    }
    .portfolio .gallery .more {
        font-size: 25px;
        max-height: 135px;
    }
    .portfolio .gallery .more::before {
        font-size: 12px;
        padding-top: 5px;
        padding-left: 10px;
    }
    .portfolio .gallery .more:hover::before {
        top: 75%;
    }
    .portfolio .second-container {
        margin-top: 20px;
        height: 400px; 
        justify-content: flex-start;
    }
    .portfolio .second-container .text-box {
        height: 170px;
        gap: 15px;
        top: calc(50% - 85px);
    }
    .portfolio .second-container .text-box h2 {
        font-size: 18px;
    }
    .portfolio .second-container .text-box p {
        font-size: 13px;
    }
    .portfolio .second-container .text-box .button {
        background-color: #222;
        padding: 8px 20px;
        cursor: pointer;
        font-size: 14px;
    }
    .portfolio .second-container video {
        max-width: 160%; 
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .portfolio .gallery .photo-7 {
        display: none;
    }
    .portfolio .gallery div {
        max-height: 230px;
    }
    .portfolio .gallery .more {
        max-height: 230px;
    }
    .portfolio .second-container {
        height: 500px;
        top: calc(50% - 250px);
        justify-content: flex-start;
    }
    .portfolio .second-container video {
        max-width: 150%; 
    }
}
@media (min-width: 1025px) and (max-width: 1280px) {
    .portfolio .gallery div {
        max-height: 200px;
    }
    .portfolio .gallery div:not(.more, .text)::before {
        font-size: 14px;
    }
    .portfolio .gallery div:not(.more, .text)::after {
        font-size: 11px;
        padding-top: 35px;
    }
    .portfolio .gallery .more {
        max-height: 200px;
    }
    .portfolio .gallery .more::before {
        font-size: 14px;
    }
    .portfolio .second-container {
        height: 550px;
    }
}
@media (min-width: 1281px) {
    
}
/* End portfolio */

/* Start about */
.about {
    margin-top: -25px;
    background-color: #fff;
    color: #353235;
}
.about .image {
    /* background-color: red; */
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.about .image img {
    margin-top: 50px;
    width: 800px;
    height: 400px;
}
.about .second-container {
    display: flex;
    justify-content: center;
    height: 400px;
    background-image: url(../images/back-10.jpg);
    background-repeat: no-repeat;
    background-position: top;
    /* background-color: red; */
    position: relative;
    z-index: 1;
}
.about .second-container .text-box {
    /* background-color: red; */
    /* float: right; */
    color: #fff;
    width: 100%;
    height: 250px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* gap: 30px; */
    /* text-align: end; */
    z-index: 2;
    /* margin-top: 100px; */
    position: absolute;
    top: calc(50% - 125px);
}
/* .about .second-container .text-box::before {
    content: '';
    width: 100%;
    height: 250px;
    background-color: var(--main-color);
    background-image: linear-gradient(to left, #f4daa2 , #ff0059 , var(--main-color), #02524f);
    opacity: 0.55;
    position: absolute;
    z-index: -1;
} */
.about .second-container .statistics {
    color: #fff;
    width: 100%;
    height: 250px;
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px, 1fr));
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: calc(50% - 125px);
    /* flex-wrap: wrap; */
    /* gap: 100px; */
}
.about .second-container .statistics::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: 0.55;
    position: absolute;
    z-index: -1;
}
.about .second-container .statistics .sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.about .second-container .statistics .sec .icon {
    background-color: #353235;
    margin: 10px 0px;
    width: 35px;
    height: 20px;
    text-align: center;
    position: relative;
}
.about .second-container .statistics .sec .icon::before,
.about .second-container .statistics .sec .icon::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #353235;
    position: absolute;
    z-index: -1;
    left: 0px;
}
.about .second-container .statistics .sec .icon::before {
    transform: rotate(60deg);
}
.about .second-container .statistics .sec .icon::after {
    transform: rotate(-60deg);
}
.about .second-container .statistics .sec .num {
    font-weight: 700;
    font-size: 50px;
}
.about .third-container {
    margin: 0px auto;
    margin-top: 80px;
    padding-bottom: 50px;
    /* display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; */
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 150px;
}
.about .third-container .sec-1 {
    /* max-width: 300px; */
    text-align: center;
}
.about .third-container .sec-1 h3,
.about .third-container .sec-2 h3 {
    font-size: 20px;
    font-weight: 400;
}
.about .third-container .sec-1 p,
.about .third-container .sec-2 p {
    /* width: 90%; */
    font-size: 13px;
    font-weight: 300;
    padding: 10px 30px;
    color: #a8a8a8;
}
.about .third-container .sec-1 .identifier {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 20px 0px;
    /* margin: 150px 0px; */
    /* margin-bottom: -80px; */
    width: 100%;
}
.about .third-container .sec-1 .identifier span {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1px solid #aaa;
}
.about .third-container .sec-1 .identifier span:nth-child(2) {
    background-color: var(--main-color);
}
.about .third-container .sec-1 .cards {
    margin-top: 75px;
}
.about .third-container .sec-1 .cards .card {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    /* padding: 0px 20px; */
}
.about .third-container .sec-1 .cards .card img {
    box-sizing: initial;
    width: 100px;
    height: 100px;
    padding-left: 20px;
}
.about .third-container .sec-1 .cards .card .text {
    /* width: 350px; */
    text-align: start;
}
.about .third-container .sec-1 .cards .card .text p {
    font-size: 13px;
    font-weight: 300;
    padding: 0px;
    line-height: 1.8;
    color: initial;
}
.about .third-container .sec-1 .cards .card .text span {
    display: block;
    font-size: 13px;
    font-weight: 300;
    text-align: end;
    font-style: italic;
    color: #aaa;
}
.about .third-container .sec-2 {
    text-align: center;
}
.about .third-container .sec-2 p {
    /* width: 90%; */
    font-size: 13px;
    padding: 10px 30px;
    color: #aaa;
}
.about .third-container .sec-2 .skills {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;

}
.about .third-container .sec-2 .skills div {
    position: relative;
}
.about .third-container .sec-2 .skills span:first-child {
    display: block;
    text-align: start;
    padding: 5px;
    font-size: 13px;
    font-weight: 400;
}
.about .third-container .sec-2 .skills .progress-bar {
    display: block;
    width: 100%;
    height: 25px;
    background-color: #e1e1e1;
    position: relative;
}
.about .third-container .sec-2 .skills .progress-bar::before {
    content: '';
    height: 100%;
    position: absolute;
    background-color: var(--main-color);
    left: 0px;
}
.about .third-container .sec-2 .skills div:nth-child(1) .progress-bar::before {
    width: 83%
}
.about .third-container .sec-2 .skills div:nth-child(2) .progress-bar::before {
    width: 95%
}
.about .third-container .sec-2 .skills div:nth-child(3) .progress-bar::before {
    width: 86%
}
.about .third-container .sec-2 .skills div:nth-child(4) .progress-bar::before {
    width: 77%
}
.about .third-container .sec-2 .skills div span:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    width: 40px;
    height: 25px;
    color: #fff;
    background-color: #353535;
    position: absolute;
    left: 0px;
    top: -5px;
}
.about .third-container .sec-2 .skills div span:last-child::before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: #353235;
    position: absolute;
    left: calc(50% - 3px);
    top: calc(100% - 3px);
    transform: rotate(45deg);
}
.about .third-container .sec-2 .skills div:nth-child(1) span:last-child {
    left: calc(83% - 20px);
}
.about .third-container .sec-2 .skills div:nth-child(2) span:last-child {
    left: calc(95% - 20px);
}
.about .third-container .sec-2 .skills div:nth-child(3) span:last-child {
    left: calc(86% - 20px);
}
.about .third-container .sec-2 .skills div:nth-child(4) span:last-child {
    left: calc(77% - 20px);
}
.about .forth-container {
    background-image: url(../images/back-10.jpg);
    background-position: bottom;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.about .forth-container::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #555;
    opacity: 0.3;
    position: absolute;
}
.about .forth-container div {
    color: #fff;
    text-align: center;
    line-height: 1.6;
    padding-right: 100px;
    padding-left: 100px;
    z-index: 1;
}
.about .forth-container div p {
    font-size: 25px;
    font-weight: 600;
}
.about .forth-container div span {
    font-size: 13px;
    font-weight: 700;
}
@media (max-width: 480px) {
    .about .second-container {
        height: 900px;
    }
    .about .second-container .statistics,
    .about .third-container,
    .about .forth-container div {
        width: 300px;
    }
    .about .image {
        height: 150px;
    }
    .about .image img {
        margin-top: -80px;
        transform: scale(0.41);
    }
    .about .second-container .statistics {
        height: 800px;
        top: calc(50% - 400px);
        gap: 10px;
    }
    .about .second-container .statistics .sec .num {
        font-size: 40px;
    }
    .about .second-container .statistics .sec p {
        font-size: 14px;
    }
    .about .third-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 30px;
    }
    /* .about .third-container .sec-1,
    .about .third-container .sec-2 {
        max-width: 300px;
    } */
    .about .third-container .sec-1 p,
    .about .third-container .sec-2 p {
        width: 280px;
    }
    .about .third-container .sec-1 .cards .card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .about .third-container .sec-1 .cards .card .text {
        max-width: 280px;
    }
    .about .third-container .sec-2 .skills div span:last-child {
        transform: scale(0.7);
        top: 0px;
    }
    .about .forth-container div {
        padding-left: 0px;
        padding-right: 0px;
    }
    .about .forth-container div p {
        font-size: 16px;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .about .second-container {
        height: 550px;
    }
    .about .second-container .statistics,
    .about .third-container,
    .about .forth-container div {
        width: 450px;
    }
    .about .image {
        height: 200px;
    }
    .about .image img {
        margin-top: -40px;
        transform: scale(0.64);
    }
    .about .second-container .statistics {
        height: 450px;
        top: calc(50% - 225px);
    }
    .about .second-container .statistics {
        grid-template-columns: repeat(auto-fill , minmax(200px, 1fr));
    }
    .about .second-container .statistics .sec .num {
        font-size: 40px;
    }
    .about .second-container .statistics .sec p {
        font-size: 15px;
    }
    .about .third-container {
        gap: 50px;
    }
    .about .forth-container div {
        padding-left: 0px;
        padding-right: 0px;
    }
    .about .forth-container div p {
        font-size: 18px;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .about .second-container {
        height: 600px;
    }
    .about .second-container .statistics,
    .about .third-container,
    .about .forth-container div {
        width: 750px;
    }
    .about .image {
        height: 250px;
    }
    .about .image img {
        margin-top: 0px;
        transform: scale(0.85);
    }
    .about .second-container .statistics {
        height: 450px;
        top: calc(50% - 225px);
    }
    .about .second-container .statistics {
        grid-template-columns: repeat(auto-fill , minmax(300px, 1fr));
    }
    .about .third-container {
        gap: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .about .third-container .sec-1,
    .about .third-container .sec-2 {
        max-width: 600px;
    }
    .about .forth-container div {
        padding-left: 20px;
        padding-right: 20px;
    }
    .about .forth-container div p {
        font-size: 20px;
    }
}
@media (min-width: 1025px) and (max-width: 1280px) {
    .about .second-container .statistics,
    .about .third-container,
    .about .forth-container div {
        width: 1000px;
    }
    .about .third-container {
        gap: 100px;
    }
    .about .third-container .sec-1 .cards {
        margin-top: 50px;
    }
}
@media (min-width: 1281px) {
    .about .second-container .statistics,
    .about .third-container,
    .about .forth-container div {
        width: 1200px;
    }
}
/* End about */

/* Start pricing */
.pricing {
    margin-top: -25px;
    background-color: #fff;
    color: #353235;
}
.pricing .prices {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(240px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.pricing .prices .plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pricing .prices .plan p {
    color: #353235;
    margin: 0px;
}
.pricing .prices .plan .plan-title {
    font-size: 16px;
    font-weight: 400;
}
.pricing .prices .plan .price {
    width: fit-content;
    font-size: 60px;
    font-weight: 600;
    position: relative;
}
.pricing .prices .plan .price::before {
    content: '$';
    font-size: 20px;
    position: absolute;
    top: 20px;
    left: -20px;
}
.pricing .prices .plan .price::after {
    content: '/MO';
    font-size: 13px;
    position: absolute;
    bottom: 25px;
    right: -30px;
}

.pricing .prices .plan .feature {
    font-size: 16px;
    font-weight: 400;
}
.pricing .prices .plan .button {
    font-size: 16px;
    border: 1px solid var(--main-color); 
    padding: 12px 30px;
    margin-top: 20px;
    margin-bottom: 15px;
    cursor: pointer;
}
.pricing .prices .plan .button:hover {
    color: #fff;
    background-color: var(--main-color);
}
.pricing .prices .plan span {
    display: block;
    width: 100%;
    height: 10px;
    transform: scaleY(0.1);
    background-color: var(--main-color);
    margin-top: 15px;
    margin-bottom: 10px;
}
.pricing .prices .plan span:nth-of-type(3),
.pricing .prices .plan span:nth-of-type(4),
.pricing .prices .plan span:nth-of-type(5) {
    width: 50%;
}
.pricing .container .below-section {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}
.pricing .container .below-section p {
    font-size: 20px;
}
.pricing .container .below-section .button {
    font-size: 16px;
    width: fit-content;
    padding: 15px 30px;
    color: #fff;
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    cursor: pointer;
}
.pricing .container .below-section .button:hover {
    color: var(--main-color);
    background-color: #fff;
}
.pricing .second-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/back-3.jpg);
    height: 200px;
}
.pricing .second-container .section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pricing .second-container .section .email-section {
    height: fit-content;
    width: 50%;
    display: flex;
    justify-content: space-between;
    gap: 0px;
    align-items: center;
    background-color: transparent;
    border: 2px solid #fff;
}
.pricing .second-container .section .email-section .input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.pricing .second-container .section .email-section i {
    /* width: 10%; */
    /* padding: 0px 15px; */
    padding-left: 20px;
    /* padding-right: 15px; */
    color: #fff;
    font-size: 20px;
}
.pricing .second-container .section .email-section input {
    width: 400px;
    border: none;
    outline: none;
    color: #fff;
    background-color: transparent;
    height: 20px;
    font-size: 16px;
}
.pricing .second-container .section .email-section input::placeholder {
    color: #fff;
}
.pricing .second-container .section .email-section .sub-button {
    color: #fff;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 22px;
    cursor: pointer;
}
.pricing .second-container .section .email-section .sub-button:hover {
    color: #353235;
    background-color: #fff;
}
.pricing .second-container .section p {
    width: 45%;
    color: #fff;
    font-size: 13px;
}
@media (max-width: 480px) {
    .pricing .prices {
        grid-template-columns: repeat(auto-fill , minmax(300px, 1fr));
        gap: 60px;
    }
    .pricing .prices .plan {
        position: relative;
    }
    .pricing .prices .plan:not(.plan:nth-child(4))::before {
        content: '';
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background-color: #aaa;
        position: absolute;
        bottom: -30px;
    }
    .pricing .prices .plan .price {
        font-size: 50px;
    }
    .pricing .prices .plan .price::before {
        font-size: 18px;
        top: 16px;
        left: -15px;
    }
    .pricing .prices .plan .price::after {
        font-size: 11px;
        bottom: 18px;
        right: -25px;
    }
    .pricing .prices .plan .feature {
        font-size: 14px;
    }
    .pricing .prices .plan .button {
        font-size: 15px;
        padding: 10px 25px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .pricing .second-container .section {
        width: 300px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .pricing .second-container .section .email-section {
        width: 100%;
    }
    .pricing .second-container .section .email-section .input {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .pricing .second-container .section .email-section i {
        padding-left: 10px;
        color: #fff;
        font-size: 16px;
    }
    .pricing .second-container .section .email-section input {
        width: 180px;
        font-size: 12px;
    }
    .pricing .second-container .section .email-section .sub-button {
        font-size: 12px;
        padding: 18px 8px;
    }
    .pricing .second-container .section p {
        width: 95%;
        font-size: 12px;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .pricing .prices {
        gap: 60px;
    }
    .pricing .prices .plan {
        position: relative;
    }
    .pricing .prices .plan:not(.plan:nth-child(4))::before {
        content: '';
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background-color: #aaa;
        position: absolute;
        bottom: -30px;
    }
    .pricing .second-container .section {
        width: 450px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .pricing .second-container .section .email-section {
        width: 100%;
    }
    .pricing .second-container .section .email-section input {
        width: 250px;
    }
    .pricing .second-container .section p {
        width: 100%;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .pricing .container {
        max-width: 650px;
    }
    .pricing .prices {
        position: relative;
        grid-template-columns: repeat(auto-fill , minmax(250px, 1fr));
        gap: 55px;
    }
    .pricing .prices::before {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #aaa;
        position: absolute;
        top: 50%;
    }
    .pricing .prices::after {
        content: '';
        width: 2px;
        height: 100%;
        background-color: #aaa;
        position: absolute;
        top: 0px;
        left: 50%;
    }
    .pricing .second-container .section {
        width: 750px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .pricing .second-container .section .email-section {
        width: 70%;
    }
    .pricing .second-container .section .email-section input {
        width: 325px;
    }
    .pricing .second-container .section p {
        width: 70%;
    }
}
@media (min-width: 1025px) and (max-width: 1280px) {
    .pricing .prices {
        display: flex;
        justify-content: center;
        gap: 25px;

    }
    .pricing .prices .plan {
        max-width: 175px;
    }
    .pricing .second-container .section {
        width: 1000px;
    }
    .pricing .second-container .section .email-section input {
        width: 300px;
    }
}
@media (min-width: 1281px) {
    .pricing .container {
        max-width: 1100px;
    }
    .pricing .second-container .section {
        width: 1200px;
    }
}
/* End pricing */

/* Start contact-us */
.contact-us {
    margin-top: -25px;
    background-color: #fff;
    color: #353235;
}
.contact-us .container .section {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 30px;
}
.contact-us .container .section .input {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact-us .container .section .input input {
    /* width: 400x; */
    border: 1px solid #bbb;
    outline: none;
    padding: 20px;
}
.contact-us .container .section .input input::placeholder {
    color: #353235;
    font-size: 13px;
    font-weight: 500;
}
.contact-us .container .section .input textarea {
    /* width: 400x; */
    border: 1px solid #bbb;
    outline: none;
    padding: 20px;
    z-index: 1;
}
.contact-us .container .section .input textarea::placeholder {
    color: #353235;
    font-size: 13px;
    font-weight: 500;
}
.contact-us .section .info {
    display: flex;
    flex-direction: column;
    gap: 120px;
}
.contact-us .section .info h4 {
    font-size: 13px;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
    
}
.contact-us .section .info div {
    position: relative;
}
.contact-us .section .info div::before {
    content: '*';
    font-size: 13px;
    color: #555;
    position: absolute;
    right: 105%;
}
.contact-us .section .phone span {
    display: block;
    color: #a8a8a8;
    font-size: 13px;
    font-weight: 400;
}
.contact-us .section .location span {
    display: block;
    color: #a8a8a8;
    font-size: 13px;
    font-weight: 400;
}
.contact-us .button {
    width: fit-content;
    margin: 50px auto;
    padding: 15px 30px;
    font-size: 13px;
    font-weight: 400;
    border: 2px solid var(--main-color);
    color: #fff;
    background-color: var(--main-color);
    cursor: pointer;
}
.contact-us .button:hover {
    color: var(--main-color);
    background-color: #fff;
}
@media (max-width: 480px) {
    .contact-us .container .section {
        flex-direction: column;
        align-items: center;
    }
    .contact-us .container .section .input {
        width: 95%;
    }
    .contact-us .container .info {
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }
    .contact-us .container .info h4 {
        font-size: 11px;
    }
    .contact-us .container .info span {
        font-size: 11px;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .contact-us .container .section {
        flex-direction: column;
    }
    .contact-us .container .section .input {
        width: 95%;
    }
    .contact-us .container .info {
        flex-direction: row;
        justify-content: center;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .contact-us .container .section .input {
        width: 70%;
    }
}
@media (min-width: 1025px) and (max-width: 1280px) {

}
@media (min-width: 1281px) {

}
/* End contact-us */

/* Start footer */
.footer {
    height: 400px;
    background-image: url(../images/footer.jpg);
    background-position: bottom;
    color: #fff;
}
.footer .container {
    height: 100%;
    padding-top: 50px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.footer .container img {
    width: 120px;
}
.footer .container .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* margin-top: 0px; */
    /* margin-bottom: 50px; */
}
.footer .container .social p {
    margin: 0px;
}
.footer .container .social p + span {
    display: block;
    width: 150px;
    height: 1px;
    background-color: #fff;
}
.footer .container .social .social-icons {
    /* margin-top: -25px; */
    text-align: center;
    cursor: default;
}
.footer .container .social-icons i {
    padding: 10px;
    cursor: pointer;
}
.footer .container p span {
    color: var(--main-color);
    cursor: pointer;
}
@media (max-width: 480px) {
    .footer {
        height: 300px;
    }
    .footer .container {
        padding-top: 30px;
    }
    .footer .container img {
        scale: 0.9;
    }
    .footer .container .social p {
        font-size: 14px;
    }
    .footer .container .social p + span {
        width: 120px;
    }
    .footer .container .social .social-icons i {
        padding: 5px;
    }
    .footer .container p {
        font-size: 14px;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .footer .container {
        padding-top: 30px
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .footer .container {
        padding-top: 30px
    }
}
/* End footer */